<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756729959802-eik4jng4t4v25ruc3bo9av5qb9r38u74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756729959802-eik4jng4t4v25ruc3bo9av5qb9r38u74</string>
	<key>API_KEY</key>
	<string>AIzaSyDAhcIVBkpB7vmwG9pMWKrrE-wekxFtJz8</string>
	<key>GCM_SENDER_ID</key>
	<string>756729959802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilya.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-bcbec</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-bcbec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756729959802:ios:983a27d04c43b079fe72c3</string>
</dict>
</plist>